---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v2/top-headlines?country=us&q=bitcoin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NEWS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","totalResults":0,"articles":[]}'
  recorded_at: Fri, 28 Nov 2025 04:41:54 GMT
recorded_with: VCR 6.3.1
