---
http_interactions:
- request:
    method: get
    uri: https://eventregistry.org/api/v1/article/getArticles?apiKey&articleBodyLen=-1&articlesCount=5&articlesPage=2&articlesSortBy=date&includeArticleBody=true&includeArticleCategories=true&includeArticleConcepts=true&includeArticleImage=true&includeArticleLocation=true&includeArticleSentiment=true&includeConceptLabel=true&includeSourceDescription=true&includeSourceTitle=true&keyword=news&lang=eng&resultType=articles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"c1-f3EIE1P6x3saItYOzFuys2oIvWw"
    body:
      encoding: UTF-8
      string: The apiKey that was provided is not recognized as a valid key for a
        user. Unable to execute the request. Check the 'https://newsapi.ai/dashboard'
        to obtain the correct API key for your account.
  recorded_at: Thu, 04 Dec 2025 08:07:53 GMT
- request:
    method: get
    uri: https://eventregistry.org/api/v1/article/getArticles?apiKey=<NEWS_API_AI_KEY>&articleBodyLen=-1&articlesCount=5&articlesPage=2&articlesSortBy=date&includeArticleBody=true&includeArticleCategories=true&includeArticleConcepts=true&includeArticleImage=true&includeArticleLocation=true&includeArticleSentiment=true&includeConceptLabel=true&includeSourceDescription=true&includeSourceTitle=true&keyword=news&lang=eng&resultType=articles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1998'
      X-Response-Time:
      - '1490'
      Req-Action:
      - articleSearch
      Req-Tokens:
      - '1.000'
      Req-Archive:
      - '0'
      Req-Chargable:
      - 'true'
      Req-Years:
      - '0'
      Req-Article-Search:
      - '1'
      Etag:
      - W/"9fe3-dqzjLzZyD/BOsjn4vThte2imfqA"
    body:
      encoding: ASCII-8BIT
      string: '{"articles":{"results":[{"uri":"8985357104", "lang":"eng", "isDuplicate":false,
        "date":"2025-12-04", "time":"08:08:23", "dateTime":"2025-12-04T08:08:23Z",
        "dateTimePub":"2025-12-04T08:01:04Z", "dataType":"news", "sim":0, "url":"https:\/\/www.adnkronos.com\/immediapress\/pr-newswire\/spellegrino-announces-long-term-partnership-with-ferrari-to-inspire-consumers-to-bring-their-best_2WBIywO5wNwclVZik1CQBv",
        "title":"S.Pellegrino Announces Long-term Partnership with Ferrari to Inspire
        Consumers to Bring Their Best", "body":"The strategic alliance aims to elevate
        S.Pellegrino''s premium lifestyle positioning, expand engagement with younger
        audiences and enhance its global brand offering.\n\nMILAN, Dec. 4, 2025 \/PRNewswire\/
        -- S.Pellegrino, the iconic sparkling mineral water brand, today announces
        a long-term global partnership with Ferrari, underscoring a joint inter[...]
