---
http_interactions:
- request:
    method: get
    uri: https://eventregistry.org/api/v1/article/getArticles?apiKey&articleBodyLen=-1&articlesCount=5&articlesPage=1&articlesSortBy=date&includeArticleBody=true&includeArticleCategories=true&includeArticleConcepts=true&includeArticleImage=true&includeArticleLocation=true&includeArticleSentiment=true&includeConceptLabel=true&includeSourceDescription=true&includeSourceTitle=true&keyword=technology&lang=eng&resultType=articles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"c1-f3EIE1P6x3saItYOzFuys2oIvWw"
    body:
      encoding: UTF-8
      string: The apiKey that was provided is not recognized as a valid key for a
        user. Unable to execute the request. Check the 'https://newsapi.ai/dashboard'
        to obtain the correct API key for your account.
  recorded_at: Thu, 04 Dec 2025 08:07:52 GMT
- request:
    method: get
    uri: https://eventregistry.org/api/v1/article/getArticles?apiKey=<NEWS_API_AI_KEY>&articleBodyLen=-1&articlesCount=5&articlesPage=1&articlesSortBy=date&includeArticleBody=true&includeArticleCategories=true&includeArticleConcepts=true&includeArticleImage=true&includeArticleLocation=true&includeArticleSentiment=true&includeConceptLabel=true&includeSourceDescription=true&includeSourceTitle=true&keyword=technology&lang=eng&resultType=articles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1999'
      X-Response-Time:
      - '690'
      Req-Action:
      - articleSearch
      Req-Tokens:
      - '1.000'
      Req-Archive:
      - '0'
      Req-Chargable:
      - 'true'
      Req-Years:
      - '0'
      Req-Article-Search:
      - '1'
      Etag:
      - W/"af15-yhouRl7ZQGxbAfkTvb0je7ZetxQ"
    body:
      encoding: ASCII-8BIT
      string: '{"articles":{"results":[{"uri":"8985357961", "lang":"eng", "isDuplicate":false,
        "date":"2025-12-04", "time":"08:08:08", "dateTime":"2025-12-04T08:08:08Z",
        "dateTimePub":"2025-12-04T08:07:28Z", "dataType":"news", "sim":0, "url":"https:\/\/en.coin-turk.com\/ripple-ceo-predicts-bitcoins-meteoric-rise-by-2026\/",
        "title":"Ripple CEO Predicts Bitcoin''s Meteoric Rise by 2026", "body":"Solana''s
        President sees potential for $100,000 Bitcoin, but expects volatility.\n\nSummarize
        the content using AI\n\nChatGPT\n\nGrok\n\nDuring the Binance Blockchain Week,
        Ripple $2 CEO Brad Garlinghouse forecasted a remarkable ascent for Bitcoin
        $92,985 by the end of 2026, expecting it to hit $180,000. Meanwhile, Binance
        CEO Richard Teng, who was also present, avoided setting a price target,[...]
