---
http_interactions:
- request:
    method: get
    uri: https://eventregistry.org/api/v1/article/getArticles?apiKey&articleBodyLen=-1&articlesCount=5&articlesPage=1&articlesSortBy=date&dateStart=2025-12-03&includeArticleBody=true&includeArticleCategories=true&includeArticleConcepts=true&includeArticleImage=true&includeArticleLocation=true&includeArticleSentiment=true&includeConceptLabel=true&includeSourceDescription=true&includeSourceTitle=true&lang=eng&resultType=articles&sourceLocationUri=http://en.wikipedia.org/wiki/United_States
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"c1-f3EIE1P6x3saItYOzFuys2oIvWw"
    body:
      encoding: UTF-8
      string: The apiKey that was provided is not recognized as a valid key for a
        user. Unable to execute the request. Check the 'https://newsapi.ai/dashboard'
        to obtain the correct API key for your account.
  recorded_at: Thu, 04 Dec 2025 08:07:54 GMT
- request:
    method: get
    uri: https://eventregistry.org/api/v1/article/getArticles?apiKey=<NEWS_API_AI_KEY>&articleBodyLen=-1&articlesCount=5&articlesPage=1&articlesSortBy=date&dateStart=2025-12-03&includeArticleBody=true&includeArticleCategories=true&includeArticleConcepts=true&includeArticleImage=true&includeArticleLocation=true&includeArticleSentiment=true&includeConceptLabel=true&includeSourceDescription=true&includeSourceTitle=true&lang=eng&resultType=articles&sourceLocationUri=http://en.wikipedia.org/wiki/United_States
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1997'
      X-Response-Time:
      - '372'
      Req-Action:
      - articleSearch
      Req-Tokens:
      - '1.000'
      Req-Archive:
      - '0'
      Req-Chargable:
      - 'true'
      Req-Years:
      - '0'
      Req-Article-Search:
      - '1'
      Etag:
      - W/"6712-EXDm4yOnAqjwt16fQmyq7ANTIaU"
    body:
      encoding: ASCII-8BIT
      string: '{"articles":{"results":[{"uri":"8985356711", "lang":"eng", "isDuplicate":false,
        "date":"2025-12-04", "time":"08:08:47", "dateTime":"2025-12-04T08:08:47Z",
        "dateTimePub":"2025-12-04T08:00:05Z", "dataType":"news", "sim":0, "url":"https:\/\/dailytrojan.com\/2025\/12\/04\/break-on-2-keeps-latin-dance-alive-at-usc\/",
        "title":"Break On 2 keeps Latin dance alive at USC - Daily Trojan", "body":"Break
        On 2 features multiple divisions, including one dedicated to providing lessons
        and a competition team. (Byron Garcia \/ Break On 2)\n\nWhen students enter
        Mudd Hall on Monday nights, the first thing they hear is bachata playing through
        the speakers. The second thing they hear is the squeaking of sneakers on the
        floor as Break On 2''s Club Annex rehearses.\n\nDelila Gonzalez, a senior[...]
- request:
    method: get
    uri: https://eventregistry.org/api/v1/article/getArticles?apiKey=<NEWS_API_AI_KEY>&articleBodyLen=-1&articlesCount=5&articlesPage=1&articlesSortBy=date&dateStart=2025-12-13&includeArticleBody=true&includeArticleImage=true&includeArticleLocation=true&includeArticleSentiment=true&includeSourceDescription=true&includeSourceTitle=true&lang=eng&resultType=articles&sourceLocationUri=http://en.wikipedia.org/wiki/United_States
    body:
      encoding: US-ASCII
      strin[...]
[...]
